<footer class="footer-main">
        <br>
    <iframe width="80%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fdj_abell%2F" frameborder="0" ></iframe>        <br>

        <br><br>
    {{ site.title }} © {{ site.time | date: '%Y' }} 

    <!-- <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a> -->

    <!-- <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p> -->
        

</footer>
