{% if page.title == "Exploring The Cosmos Of Sound"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h3 class="invitation">{{ site.invite }}</h3>

        {% include social-links.html %}
                
        <br><br>
      <iframe width="90%" height="60" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fdj_abell%2F" style="border-radius: 8px; width: 250; height: 60;"></iframe>
      <br><br>
        <h2 class="description">{{ site.bio }}</h2>
        
{% endif %}

{% include nav.html %}
